<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	
	<link rel="stylesheet" href="../plugin/bootstrap-3.3.7-dist/css/bootstrap.css">
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/list.css">
	<script src="../lib/jquery-1.12.4.min.js"></script>
	<script src="../plugin/template-web.js"></script>
	<script src="../plugin/jquery.cookie.js"></script>
</head>
<body id="body1">
	<header>
		<div class="nav-box">
			<div class="nav">
				<ul class="nav-left">
					<li><a href="../index.html">中兴校园</a></li>
					<li><a href="#">手机版</a></li>
				</ul>
				<ul class="nav-right">
					<li><a href="login.html">登录</a></li>
					<li><a href="register.html">注册</a></li>
				</ul>
				<div class="shopping-car"><a href="#"><span class="glyphicon glyphicon-shopping-cart" style="color: #3E82FF;margin-right: 6px;"></span>购物车</a></div>
			</div>
		</div>
	</header>
	<div id="main">
		<div class="header">
			<h1 class="logo"><a href="#"><img src="../images/zx-logo.png" alt="#"></a></h1>
			<div class="right">
				<ul>
					<li><a href="../index.html">首页</a></li>
					<li><a href="#">所有商品</a></li>
					<li><a href="#">天机系列<div class="hover-box">
							<div class="hover-nav">
								<div class="nav-img-box">
									<img src="../images/nav1.jpg" alt="">
								</div>
									<p>天机7 MAX</p>
									<span>¥3299.0</span>
							</div>
							<div class="hover-nav">
								<div class="nav-img-box">
									<img src="../images/nav1.jpg" alt="">
								</div>
									
									<p>天机7 MAX</p>
									<span>¥3299.0</span>
							</div>
							<div class="hover-nav">
								<div class="nav-img-box">
									<img src="../images/nav1.jpg" alt="">
								</div>
									
									<p>天机7 MAX</p>
									<span>¥3299.0</span>
							</div>
						</div></a></li>
					<li><a href="#">BLADE系列</a></li>
					<li><a href="#">微投SPRO2</a></li>
					<li><a href="#">中兴社区</a></li>
				</ul>
				<form action="#" >
					<input type="text" value="天机7" id="search">
					<a href="#" class="search-icon"><span class="glyphicon glyphicon-search"></span></a>
				</form>
			</div>
		</div>
		<div class="list">
			<span>分类 :</span>
			<ul>
				<li><a href="#" style="color:#f00;">全部</a></li>
				<li><a href="#">手机</a></li>
				<li><a href="#">智能终端</a></li>
				<li><a href="#">耳机/音箱</a></li>
				<li><a href="#">数据线/电源适配器</a></li>
				<li><a href="#">保护套/后盖/贴膜</a></li>
				<li><a href="#">移动电源/存储卡</a></li>
				<li><a href="#">服务及周边</a></li>
			</ul>
		</div>
		<div class="content">
			<div class="box">
				<span>排序 :</span>
				<ul class="ways">
					<li><a href="#" style="color:#f00;">默认</a></li>
					<li><a href="#">新品</a></li>
					<li><a href="#">价格</a></li>
					<li><a href="#">销量</a></li>
					<li><a href="#">评论</a></li>
				</ul>
				<em class="glyphicon glyphicon-th-list" id="cols"></em><em class="glyphicon glyphicon-th" style="color: #f00;" id="rows"></em>
			</div>
			<div class="moban1"></div>
			<div class="moban2"></div>
			<div class="pages">
				<span id="prev">&lt;</span>
				<ul>
					<li class="bg1"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
				</ul>
				<span id="next">&gt;</span>
			</div>
			<!-- <div class="template">
				<img src="../images/list-1.jpg" alt="">
				<span class="description" >描述</span>
				<em class="price">¥15.0</em>
			</div> -->
		</div>
	</div>
	<div id="footer">
		<div class="ft-top">
			<ul>
				<li>7天退货保障</li>
				<li>15天换货承诺</li>
				<li>150元起全场免运费</li>
				<li>全国售后服务点</li>
			</ul>
		</div>
		<div class="ft-middle">
			<dl>
				<dt><a href="#">关注我们</a></dt>
				<dd><a href="#">中兴社区</a></dd>
				<dd><a href="#">官方微信</a></dd>
				<dd><a href="#">新浪微博</a></dd>
				<dd><a href="#"></a></dd>
			</dl>
			<dl>
				<dt><a href="#">帮助中心</a></dt>
				<dd><a href="#">支付方式</a></dd>
				<dd><a href="#">购物指南</a></dd>
				<dd><a href="#">配送指南</a></dd>
				<dd><a href="#"></a></dd>
			</dl>
			<dl>
				<dt><a href="#">售后服务</a></dt>
				<dd><a href="#">退换货流程</a></dd>
				<dd><a href="#">售后网点</a></dd>
				<dd><a href="#">退换货政策</a></dd>
				<dd><a href="#">保修政策</a></dd>
			</dl>
			<dl>
				<dt><a href="#">关于商城</a></dt>
				<dd><a href="#">联系我们</a></dd>
				<dd><a href="#">商城简介</a></dd>
				<dd><a href="#">礼品团购</a></dd>
				<dd><a href="#"></a></dd>
			</dl>
			<div class="contactInfo">
				<p>400-800-9999</p>
				<span>周一到周日 8:30-20:30 (全面无休)</span>
			</div>
		</div>
		<div class="ft-bottom">
			<p class="ft-nav">
				<a href="#">中兴社区 |</a>
				<a href="#">中兴通讯 |</a>
				<a href="#">汇天地 |</a>
				<a href="#">中兴云服务|</a>
				<a href="#">中兴手机</a>
				<!-- <a href="#"></a> -->
			</p>
			<p><a href="#">服务协议 </a>| ©2014 - 2017  深圳市中兴智谷科技有限公司版权所有，并保留所有权利  
			</p>
			<p>增值电信业务经营许可证：粤B2-20160352 | ICP备案证书号 : <a href="#">粤ICP备16018970号 </a></p>
		</div>
	</div>
	<script type="text/html" id="product_template">
		<% for(var i=0,len=16;i<len;i++){ %>
			<div class="rows">
			<div class="template">
				<a href="detail.html">
				<img src=<%=arr[i].src%> alt="">
				<span class="description" ><%=arr[i].descrip%></span>
				<em class="price">¥<%=arr[i].price%></em>
				</a>
			</div>
			</div>
		<% }%>
	</script>
		<div class="template2" style="display: none;">
			<ul>
				<li><a href="detail.html"><img src="#" alt=""></a></li>
				<li>
					<a href="detail.html">
						<h2 class="details2">
							
						</h2>
					</a>
					<p class="description2"></p>
				</li>
				<li><span class="price2"></span></li>
			</ul>
		</div>
	<script>
		//初始化页面时判断cookie是否登录
		$(function(){
			$.cookie.json = true;
			var user = $.cookie("user") || {};
			if(user.name != undefined){
				$(".nav-right").eq(0).html("<li style='width:200px;'>欢迎你,<em>"+user.name+"<em></li>");
			}
			var arr =  new Array(16);
			var info = {
				src: "../images/list-1.jpg",
				detail: " 绝代双“焦”3D拍照、仿生双摄手机，1300万柔光自拍、前置指纹、智慧语音、4G大运存+64G大内存！",
				descrip: "ZTE中兴 Blade V8 绝代双“焦”-仿生双摄+3D拍照",
				price: 999
			} 
			arr.fill(info);
			// console.log(arr);
			var data = {
					arr : arr
				};
			var html = template("product_template", data);
			$("#main .moban1").eq(0).append(html);
			$("#main .moban1 .template").each(function(index,curr){
				if(index % 4 ===0){
					$(this).css("clear","left");
				}
			});
			//给所有的商品列表添加hover的效果
			$("#main .moban1").on("mouseenter",".template",function(){
				$(this).stop().animate({"margin-top":6},"fast");
			});
			$("#main .moban1").on("mouseleave",".template",function(){
				$(this).stop().animate({"margin-top":12},"fast");
			});
			//点击时tab切换
			$("#cols").on("click",function(){
				$(this).css("color","red").next().css("color","#000");
				$(".moban1").eq(0).hide();
				$(".moban2").eq(0).empty().show();
				arr.forEach(function(curr){
					$(".template2:last").clone(true).show()
							.appendTo(".moban2")
							.find("img").attr("src",curr.src)
							.end().find(".details2").text(curr.descrip)
							.end().find(".description2").text(curr.detail)
							.end().find(".price2").text("¥" + curr.price + ".00");
				});
			});
			$("#rows").on("click",function(){
				$(this).css("color","red").prev().css("color","#000");
				$(".moban2").eq(0).hide();
				$(".moban1").eq(0).show();
			});
		});
		
	</script>
</body>
</html>